body {
  display: flex;
  justify-content: center;
}

div.app {
  display: inline-flex;
  flex-direction: column;
}

.app-body {
  color: steelblue;
  display: inline-flex;
  flex-direction: column;
}
